.btn {
  max-height: 2.5rem;
  padding: 0.5rem 0.75rem;
  background-color: $color-accent;
  color: $color-grey-light;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 4px 4px 2px #0007;
  transition: transform 100ms ease-out;

  &-large {
    width: 100%;
    max-width: 12rem;
    padding: 0.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 6px;

    font-size: 0.75rem;
    letter-spacing: 0.5px;
    font-weight: 600;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: none;
  }
}

.tabs {
  color: $color-grey-light;

  &-list {
    display: flex;
    height: 2.5rem;
  }

  &-tab {
    color: inherit;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: solid 2px transparent;

    &.active {
      color: $color-accent;
      border-bottom: solid 2px $color-accent;
    }
  }

  &-container {
    position: relative;
    overflow: hidden;
    will-change: height;
    transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    will-change: transform;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &-content {
    flex: 1 0 100%;
    width: 100%;
    padding: 1rem;
  }
}
