$color-primary: #171717;
$color-primary-light: #1f1f1f;

$color-secondary: #2a272e;
$color-secondary-light: #27262a;

$color-accent: #107c10;
$color-red: #eb4910;

$color-grey-light: #f7f7f7;
$color-grey-dark: #2f2e30;

$placeholder-gradient: linear-gradient(
  to bottom,
  rgba($color-accent, 0.8) 10%,
  rgba($color-accent, 0.7) 40%,
  rgba($color-accent, 0.45) 70%,
  transparent 100%
);

$metric-tabs-bar: 2.5rem;
$metric-tabs-height: calc(100vh - 2.5rem);
